* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  .menu-active {
    font-weight: 500;
    text-decoration: underline;
  }
  
 html{
  scroll-behavior: smooth;
 }
  .header {
    background: #ffffff;
    margin: 0 auto;
    display: block;
    position: fixed;
    right:0;
    left:0;
    top:0;
    max-width: 1080px;

   
  }

  li {
    list-style: none;
  }

a {
    color: black;
    text-decoration: none;
    
}

.navbar {
 
    min-height: 80px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 44px;
   
    
  
     
}

.navmenu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;  
}

.hamburger{
    display: none;
    cursor: pointer;
    position: fixed;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
    background-color: black;
}

li{
    font-weight: 400;
    font-size: 13px;
}

a:hover{
    text-decoration: underline;
    font-weight: 500;
}

a:active{
  text-decoration: underline;
  font-weight: 500;
}

h1{
    font-weight: 700;
    font-size: 60px;
    color: #0c31d8;
    }


 

.strong-orange{
    color: #D77E23;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


.logo{
    cursor: pointer;
  }

.hero-container {
    display: flex;
    justify-content:center;
    margin-top: 120px;
    
    
  }

  .hero {
    width: auto;
    height:auto;
    display:flex;
    align-items: center;
    justify-content:center;
    margin: 80px 72px 52px 45px;
   
  }

  .paragraph-conteiner {
    display: flex;
    justify-content: left;
    
    
  }

  .paragraph{
    width: 820px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 72px 0px 40px;
    padding: 0px 0px 0px 8px;
    font-weight: 400;
    font-size: 40px;
 
    
  }
  
  h2{
    font-weight: 700;
    font-size: 26px;

  }

  .subheadings{
    display:flex;
    justify-content:space-between;
    margin: 80px 0px 0px 0px;
    
  }

  .subhead-2{
    width: auto;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin: 80px 0px 0px 44px;
    
  }

  .progetti-container{
    margin: 24px 44px 50px 44px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .progetto-1{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 0px 30px 12px 0px;

  }

  .progetto-2{
    width:600px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 0px 0px 12px 12px;

  }
  
  .cover{
    display: flex;
    justify-content: center;
    max-width: auto;
  }

  .cover-image{
    max-width: 100%;
  }

  .didascalia{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }

  .title{
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0px 4px 0px;
  }

  .sub-title{
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 14px 0px;
    text-align: left;
  }

  .secondary-button{
    font-weight: 700;
    font-size: 14px;
    color: #0c31d8;
    cursor: pointer;
    text-transform: uppercase;
  }

  .secondary-button:hover{
    text-decoration: underline;
    color: #0c31d8;
    font-weight: 700;
  }

  .third-button{
    font-weight: 700;
    font-size: 30px;
    color: #0c31d8;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0px 0px 14px 40px;
    text-align: left;
  }

  .third-button:hover{
    text-decoration: underline;
    color: #0c31d8;
    font-weight: 700;
  }

  h3{
    font-weight: 400;
    font-size: 32px;
  }

  .subhead-3{
    width: auto;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin: 120px 0px 0px 44px;
  }

  .servizi{
    height: 400px;
    width: auto;
    margin: 24px 44px 120px 44px;
    display: flex;
    justify-content:space-between;
    align-items: stretch;

  }
  .servizio-1{
    height:auto;
    width: 320px;
    margin: 0 6px 0 0;
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 12px 24px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .servizio-2{
    height:auto;
    width: 320px;
    border: 2px solid #000000;
    border-radius: 16px;
    margin: 0 6px 0 6px ;
    padding: 12px 24px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .servizio-3{
    height:auto;
    width: 320px;
    border: 2px solid #000000;
    border-radius: 16px;
    margin: 0 0 0 6px ;
    padding: 12px 24px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .testo{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;

  }

  .nome-servizio{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
  }

  .numero-pagine{
    font-size: 20px;
    text-decoration: underline;
    margin: 0 0 12px 0;
  }

  .dettagli-servizio{
    font-size: 20px;
    margin: 4px

  }

  .primary-button{
    width:fit-content;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 8px 32px;
    background-color: #07496A;
    color: #ffffff;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }

  .primary-button:hover{             
    background-color: #2E779B;
    text-decoration: underline;
  }

  h4{
    font-weight: 400;
    font-size: 32px;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-right: 32px;
  }
  
  .form-row input[type='text'],
  .form-row input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 4px;
    width: 300px;
    padding: 8px;
    font-size: 12px;
  }

  
  .form-row label {
    margin-bottom: 8px;
  }

  .form{
    margin: 32px 0 32px 44px;
    display: flex;
    flex-direction: row;
  }

  .form-row textarea {
    border: 1px solid #D6D9DC;
    border-radius: 8px;
    min-height: 150px;
    padding: 8px;
    font-size: 14px;
    color: gray;
    width:635px;
  }

  .messaggio{
    margin-left: 44px;
  }

  .form-button{
    width: fit-content;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background-color: #0c31d8;
    color: #ffffff;
    border-radius: 8px;
    margin: 30px 0 0 44px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }

  .form-button:hover{             
    background-color: #000000;
  }

  .alternativa-social{
    display: flex;
    margin: 48px 0 20px 44px;
    font-size: 20px;
    font-weight: 400;
  }

  .mail{
    display: flex;
    margin: 60px 0px 0px -4px;
    font-size: 60px;
    font-weight: 700;
  }

  .social-icons{
    display: flex;
    margin-left: 44px;
  }

  .icon-be img,
  .icon-in img{
    height: 52px;
  }

  .icon-be{
    margin-right: 8px;
  }
 
  .footer{
    display: block;
    margin: 250px 0px 0px 0px;
    

  }

  .footer-elements{
    min-height: 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 44px;
    margin: 80px 0 8px 0;
  }

  .designer{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px
  }

  .bio-conteiner{
    margin: 150px 44px 96px 44px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .strong-bio{
    
    text-transform: uppercase;
    
  }

  .nome{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
    text-transform: uppercase;

  }

  .descrizione{
    
    font-size: 14px;
    line-height: 20px;
  }

  .foto{
    max-width: 300px;
    margin-bottom: 40px;
  }

  .curriculum{
    display: flex;
    justify-content:space-between;
    margin: 32px 44px 0 44px;

  }

  .esperienze-prof{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 24px 0 0;
  }

  .titolo{
    display: flex;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .elenco-CV{
    display:flex;
    flex-direction: column;
  }

  .tipologia{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 8px;
    text-transform: uppercase;
  }

  .dettagli{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
  }


  .colonna-2{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 0 0 24px;
  }

  .formazione{
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
  }

  .conoscenze-ling{
    display: flex;
    flex-direction: column;
  }

  .CV-button{
    width: fit-content;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 8px 32px;
    background-color: #07496A;
    color: #ffffff;
    border-radius: 8px;
    margin: 16px 0 54px 44px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }

  .CV-button:hover{             
    background-color: #2E779B;
    text-decoration: underline;
    font-weight: 400;
  }

  .video {
    display: flex;
    margin: 25px 0 54px 44px;

  }

  






 





/* Mobile Styles */

@media (max-width:600px) {

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } 

    .navmenu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 5px #0c31d8;
    }

    .nav-item{
        margin: 16px 0;
    }

    .navmenu.active{
        left: 0%;
    }

    .navbar {
        padding: 0 24px;
    }

    .logo{
       display: block;
       margin-left: auto;
       margin-right: auto;
    }

    h1{
        font-weight: 700;
        font-size: 35px;
        }

    p{
      font-weight: 400;
      font-size: 15px;
    }
        

    .hero-container {
        display: flex;
        justify-content: center;
        background-color:#ffffff
      }
      
      .hero {
        width: 600px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#ffffff;
        margin: 24px 36px 24px 36px;
      }

      .paragraph-conteiner {
        display: flex;
        justify-content: center;
        
      }
    
      .paragraph{
        width: 600px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12px 36px 36px 36px;
        
      }

      h2{
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
    
      }

      h3{
        font-weight: 400;
        font-size: 18px;
    
      }
    
      .subheadings{
        display:flex;
        justify-content:space-between;
      
      }
    
      .subhead-2{
        width: auto;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        margin: 32px 0px 0px 24px;
      }

      .subhead-3{
        width: auto;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        margin: 52px 0px 0px 24px;
      }

      .progetti-container{
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: normal;
        margin: 12px 24px 48px 24px;
      }
      
      .progetto-1{
        width:inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 24px 0px;
      }
    
      .progetto-2{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 12px 0px;

    
      }
      
      .cover{
        display: flex;
        justify-content: center;
        max-width: auto;
      }
    
      .cover-image{
        max-width: 100%;
      }
    
      .didascalia{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    
      .title{
        font-weight: 700;
        font-size: 20px;
      }
    
      .sub-title{
        font-weight: 400;
        font-size: 16px;
      }
    
      .secondary-button{
        font-weight: 700;
        font-size: 14px;
        color: #0c31d8;
      }

      h3{
        font-weight: 400;
        font-size: 24px;
    
      }

      .servizi{
        height: auto;
        width: auto;
        margin: 12px 24px 80px 24px;
        display: flex;
        justify-content:space-between;
        flex-direction: column;
      
    
      }
      .servizio-1{
        height: 364px;
        width: auto;
        margin: 0 0 6px 0;
        border: 2px solid #000000;
        border-radius: 16px;
        justify-content: space-between;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    
      .servizio-2{
        height: 364px;
        width: auto;
        border: 2px solid #000000;
        border-radius: 16px;
        margin: 6px 0 6px 0;
        justify-content: space-between;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    
      .servizio-3{
        height:364px;
        width: auto;
        border: 2px solid #000000;
        border-radius: 16px;
        margin: 6px 0 0 0;
        justify-content: space-between;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    
      .testo{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    
      }
    
      .nome-servizio{
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 16px 0;
      }
    
      .numero-pagine{
        font-size: 20px;
        text-decoration: underline;
        margin: 0 0 12px 0;
      }
    
      .dettagli-servizio{
        font-size: 18px;
        margin: 4px
    
      }
    
      .primary-button{
        width: auto;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 32px;
        box-shadow: 0 5px ;
        background-color:#0c31d8;
        color: #ffffff;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
    }

     h4{
        font-weight: 400;
        font-size: 24px;
    
      }

      .form-row {
        display: flex;
        flex-direction: column;
        font-size: 16px;
      }
      
      .form-row input[type='text']{
        margin-bottom: 24px;
      }

      .form-row input[type='email']{
        margin-bottom: 24px;
      }
      .form-row input[type='text'],
      .form-row input[type='email'] {
        background-color: #FFFFFF;
        border: 1px solid #D6D9DC;
        border-radius: 8px;
        width: auto;
        padding: 8px;
        font-size: 13px;
      }
      
    
      .form{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 24px;
      }

      .form-row textarea {
        border: 1px solid #D6D9DC;
        border-radius: 8px;
        min-height: 200px;
        width: auto;
        padding: 8px;
        font-size: 13px;
        color: gray;
        margin-top: 0;
        margin-left: 0;
      }

      .messaggio{
        margin-left:24px;
      }

      .form-button{
        width: auto;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0c31d8;
        color: #ffffff;
        border-radius: 8px;
        margin: 16px 30px 24px 24px;
        font-size: 16px;
        font-weight: 500;
      }

      .alternativa-social{
        display: flex;
        margin: 32px 0 16px 24px;
        font-size: 18px;
        font-weight: 400;
      }

      .mail{
        display: flex;
        margin: 8px 0 12px 24px;
        font-size: 23px;
        font-weight: 700;
      }
    
      

      .footer{
        display: block;
        margin: 0 auto;

    
      }
    
      .footer-elements{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 72px 0 8px 0;
      }

      
    
      .designer{
        font-weight: 500;
        font-size: 12px;
        margin: 72px;
      }

      .bio-conteiner{
       
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items:center;
        margin: 120px 24px 0 24px;
       
      }

     
    
      .bio{
        margin: 0 auto;
      }
    
      .strong-bio{
        font-weight: 700;
      }
    
      .nome{
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 12px ;
      }
    
      .descrizione{
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
      }

      .foto{
        max-width: 200px;
        margin-bottom:24px;
      }

      .curriculum{
        display: flex;
        justify-content:space-between;
        margin: 32px 24px 0 24px;
        flex-direction: column;
        
      }
    
      .esperienze-prof{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 24px 24px 0;
      }
    
      .titolo{
        display: flex;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    
      .elenco-CV{
        display:flex;
        flex-direction: column;
      }
    
      .tipologia{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 8px;
        margin-top: 8px;
      }
    
      .dettagli{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
      }
    
    
      .colonna-2{
        display: flex;
        flex-direction: column;
        width: auto;
        margin-left: 0;
      }
    
      .formazione{
        display: flex;
        flex-direction: column;
        width: auto;
        margin-bottom: 24px;
      }
    
      .conoscenze-ling{
        display: flex;
        flex-direction: column;
      }
    
      .CV-button{
        width: auto;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 32px;
        background-color: #07496A;
        color: #ffffff;
        border-radius: 8px;
        margin: 24px 24px 96px 24px;
        font-size: 16px;
        font-weight: 500;
      }
      .CV-button:hover{             
        font-weight: 500;
      }


     


    

    
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 800px) {

    .progetti-container{
        margin: 24px 0px 80px 0px;
        padding: 0px 44px 0px 44px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: normal;
      }
      
      .progetto-1{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 36px 0px;
    
      }
    
      .progetto-2{
        width:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 12px 0px;

    
      }
      
      .cover{
        display: flex;
        justify-content: center;
        max-width: auto;
      }
    
      .cover-image{
        max-width: 100%;
      }
    
      .didascalia{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    
      .title{
        font-weight: 700;
        font-size: 20px;
      }
    
      .sub-title{
        font-weight: 400;
        font-size: 18px;
      }
    
      .secondary-button{
        font-weight: 700;
        font-size: 16px;
        color: #0c31d8;
        text-decoration: underline;
      }

      .servizi{
        height: auto;
        width: auto;
        margin: 24px 44px 96px 44px;
        display: flex;
        justify-content:space-between;
        flex-direction: column;
    
      }
      .servizio-1{
        height: 380px;
        width: auto;
        margin: 0 0 6px 0;
        border: 2px solid #000000;
        border-radius: 16px;
        padding: 12px 24px;
        justify-content: space-between;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    
      .servizio-2{
        height: 368px;
        width: auto;
        border: 2px solid #000000;
        border-radius: 16px;
        margin: 6px 0 6px 0;
        padding: 12px 24px;
        justify-content: space-between;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    
      .servizio-3{
        height:368px;
        width: auto;
        border: 2px solid #000000;
        border-radius: 16px;
        margin: 6px 0 0 0;
        padding: 12px 24px;
        justify-content: space-between;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
      }
    
      .testo{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    
      }
    
      .nome-servizio{
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 16px 0;
      }
    
      .numero-pagine{
        font-size: 20px;
        text-decoration: underline;
        margin: 0 0 12px 0;
      }
    
      .dettagli-servizio{
        font-size: 20px;
        margin: 4px
    
      }
    
      .primary-button{
        width: auto;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 32px;
        background-color: #0c31d8;
        color: #ffffff;
        border-radius: 8px;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        
        
      }
      .form-row input[type='text']{
        margin-bottom: 32px;
      }
      .form-row input[type='text'],
      .form-row input[type='email'] {
        background-color: #FFFFFF;
        border: 1px solid #D6D9DC;
        border-radius: 8px;
        width: auto;
        padding: 8px;
        font-size: 14px;
       
      }
      
    
      .form{
        display: flex;
        flex-direction: column;
        
      }

      .form-row textarea {
        border: 1px solid #D6D9DC;
        border-radius: 8px;
        min-height: 200px;
        width: auto;
        padding: 8px;
        font-size: 14px;
        color: gray;
        
      }

      .bio-conteiner{
        margin: 148px 44px 56px 44px ;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items:center;
       
      }
    
      .bio{
        margin: 0 auto;
        
      }
    
      .strong-bio{
        font-weight: 700;
      }
    
      .nome{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 32px ;
      }
    
      .descrizione{
        font-size: 28px;
        font-weight: 400;
      }

      .foto{
        max-width: 300px;
        margin-bottom: 32px;
      }

      .CV-button{
        width: auto;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 32px;
        background-color: #0c31d8;
        color: #ffffff;
        border-radius: 8px;
        margin: 24px 44px 54px 44px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
      }


}


/* Desktop Styles */

@media only screen and (min-width: 1080px) {

    .page {
      width: 1080px;
      margin: 0 auto;
    }
}